<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('partials/head.ejs') %>
</head>

<body>
	<!-- Header -->
	<%- include('partials/header.ejs') %> 
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			
			

			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
		
			</div>
		</div>
			
	</div>
	
	<div>
		<form class="register-form col-6" action="/product/productEdit" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="id" value="<%= product.id %>">
			<label for="">Nombre:</label>
			<input type="text" name="electroName" placeholder="" value="<%= product.electro_name %>">
			<label for="">Descripción:</label>
			<input type="text" name="electroDescription" placeholder="" value="<%= product.electro_description %>">
			<label for="">Imagen:</label>
			<input type="file" name="electroImage" placeholder="" >
			<button type="submit" class="btn-outline-dark">Enviar</button>
		</form>
	</div>
	  		</div>
	<%- include('partials/footer.ejs') %> 
	
</body>

</html>