<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<%- include('partials/head.ejs') %>
</head>
<body>
	<!-- Header -->
	<% if( user.log ){ %>
		<%- include('./partials/headerLogueado.ejs') %>
		<%} else { %>
		<%- include('./partials/header.ejs') %>
	  
		<% } %>

	<!-- product detail-->
	<div class="container products-wrapper">

		<% if( user.log ){ %>
			<div class="col-12">
			  <h2 class="products-title text-center">Bienvenid@ <%= user.name %> </h2>
			</div>
		  
		  <%}%>  

		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= products.electro_name %></h2>  
			
			<p class="product-detail-description">
				<% if (user.id== products.user_id) { %>
					<a href="/product/productEdit/<%= products.id %> ">Editar</a>
					<form action="/product/delete/<%= products.id %>" method="POST">
						<button type="submit" class="btn btn-dark btn-outline-dark"> <i class="fas fa-trash" style="color: red;"></i></button>
					</form>
					
					<% } %>
			</p>
		</div>
		<div>
			<h3><a href="/users/<%= products.user.id %> "> Añadido por <%= products.user.name%></a></h3>
		</div>
		<div class="product-detail">
			<div class="row">
				
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%=products.electro_image%>" alt="imagen" class="product-detail-img">    
					<p class="product-detail-description"></p>
					<%=products.electro_description%>
				</article>
				
				
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i=0; i<comentarios.length; i++){%>
							<%	const comentariosUser = products.comment[i]; %>

							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="profile.html">Nombre usuario: </a> </strong>
									 <%=comentarios[i].comentario%></p>
								</div>
							</article>
							<%}%>
					
					</section>
					<form class="form" action="/product" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
    <%- include('partials/footer.ejs') %> 
	<!-- /footer -->

</body>	
</html>