<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('partials/head.ejs') %>
</head>

<body>
	<!-- Header -->
	<%- include('partials/header.ejs') %> 
	<!-- /Header -->
	<% if (user.log) {%>
		<%- include ('./partials/headerLogueado.ejd') %>
		<%} else {%> 
		<%-include ('./partials/header.ejs') %>
		<%}<%
	<div class="container products-wrapper">
		<div class="row">
			
			<% if( user.log ){ %>
			<div class="col-12">
				<h2 class="products-title text-center">Bienvenid@ <%= user.name %> </h2>
			</div>
			<%}%> 

			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
		
			</div>
		</div>
			
	</div>
	
	<div>
		<form class= "formAngie" action="/product/productAdd" method="GET">
					<div>
						<label for="name">Producto:</label>
				<input id="usuario" type="text" name="usuario" value="">
				</div>
					<div>
						<label for="text">Descripción:</label>
				<input id="usuario" type="text" name="usuario" value="">
				</div>
				<div>
					<label for="date">Fecha de carga:</label>
			<input id="fecha" type="date" name="fecha" value="">
			</div>
				<div>
						<button type="submit">Cargar</button> 
				</div>
				</form>
	
			</div>
	<%- include('partials/footer.ejs') %> 
	
</body>

</html>