<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head.ejs') %>
<body>
	<!-- Header -->
	<%- include('partials/header.ejs') %> 

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				 <img src="/stylesheets/images/avatar/<%=user.avatar %>" alt="foto de perfil" class="foto-perfil"> 
				
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%=user.user_name%>
						<p><a href='/usuarios/profile/edit/<%=user.id%>'> Editar Perfil
							<i class="fas fa-cog"></i>
						</a></p>
					</h1>
					
				</div>
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> 
						<p><a href='/products/edit/'>Editar Productos
							<i class="fas fa-cog"></i>
						</a></p>
					</h1>
					
				</div>
				<div>
					<ul class="">
						<li> <%=user.products.length%> producto/s</li>
						<li> <%=user.comments.length%> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Mis productos</h2>
				</div>
				<!-- Show mis productos -->
				<div class="col-12 col-sm-6 col-lg-3">
					<% for(let i=0; i<user.products.length; i++){%>
						<section class="product-box">
							<a href="/detail/<%=user.products[i].id%>">
								<figure class="product-box_image">
									<img src="<%=user.products[i].electro_image%>" alt="">
								</figure>
								<article class="product-box_data">
									<h2> <%= user.products[i].electro_name%> </h2>
									<p><%= user.products[i].electro_description%></p>
									<p>Comentarios: <%= user.products.electro_comments%> </p>
								</article>
							</a>
						</section>
						<%}%>
				</div>
	</section>
	<!-- /Datos del usuario -->

	
	<!-- /footer -->
	<%- include('partials/footer.ejs') %> 
</body>	
</html>