<% for(let i=0; i<data.products.length; i++){%>
    <section class="product-box">
        <a href="/detail/:<%=data.products[i].id%>">
            <figure class="product-box_image">
                <img src="<%=data.products[i].electro_image%>" alt="">
            </figure>
            <article class="product-box_data">
                <h2> <%= data.products[i].electro_name%> </h2>
                <p><%= data.products[i].electro_description%></p>
                <p>Comentarios: <%= data.products.eletro_comments%> </p>
            </article>
        </a>
    </section>
    <%}%>
